@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Stick+No+Bills:wght@600&display=swap');

    
*{
    margin: 0;
    padding: 0;
    font-family: 'Grechen Fuemen', cursive;
    font-family: 'Stick No Bills', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(255, 166, 0);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li a{
    text-decoration: none;
    color: blue;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 10px rgb(128, 0, 0);

}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color:rgb(255, 166, 0)
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(images/Logo.png) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}

.main{
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 80%;
}
.headings{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px ;
}
#btn{
    padding: 10px 35px;
    background-color: orangered;
    border: 1px soild rgb(255, 166, 0);
    outline: none;
    transform: .6 ease;
    border-radius: 50%;

}
#btn :hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: orange;
    box-shadow: orangered;
}

/*About section*/

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background: linear-gradient(to top,white, #ca91639f, #3c8bc0c5, black);
}
#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;

}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
     
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio section*/

#portfolio{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, blue, orange, white);
    color: orangered;
    align-items: center;
    padding: 20px
}

.model{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;

}
.model img{
    width: 360px;
    height: 240px;
    margin: 10px;
}